# Matched against repo root (asterisk)
# Not active in the forked update
# * @DerekRoberts @dallascrichmond @LocalNewsTV @acatchpole @fergmac @kcaparas1630 @Shakespeares-spy @GDamaso
#
# Current maintainer
* @GDamaso

# Matched against directories

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
